@import 'tailwindcss';

:root {
  --base-header-height: 60px;
  --base-aside-width: 200px;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--color-gray-700)
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
